# ----- 临时资料 ----------------------
临时资料/





# ----- 可从外界重复获得之资源 ----------
node_modules/





# ----- 可重复构建之资源 ---------------
文档集/**/*.html
ReadMe*.html

# 文件总数横竖不多，亦不大。干脆于集得仓库中包含下方两类文件。
# 源代码/发布的源代码/*.js
# 源代码/发布的源代码/*.d.ts





# ----- 本计算机专用资料 ---------------
# package-lock.json
.vscode/**/tasks-吴乐川备份*
